*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.contact h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:  32px;
    padding-top: 20px;
}

.container{
    display: flex;
    padding-top: 50px;
    /* padding-bottom: 50px; */
    
}
.location {
    /* display: flex; */
    justify-content: center;
    padding-top: 25px;
    padding-left: 70px;
    
    color: rgb(37, 35, 35);
}
.location p {
    font-size: 18px;
}

.address h2{
    padding-top: 30px;
    font-size: 22px;
}
.address p {
    font-size: 18px;
    padding: 10px;
}
.visit  {display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .location {
        padding: 20px;
        text-align: center;
    }
    .map iframe {
        height: 250px;
        width: 100%;
        max-width: 100%;
    }
    .contact h1 {
        font-size: 24px;
        text-align: center;
    }
    .address h2 {
        font-size: 18px;
    }
    .address p {
        font-size: 16px;
    }
    .visit h2 {
        font-size: 18px;
        text-align: center;
        padding: 20px;
    }
}

