<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    {{!-- <link rel="stylesheet" href="../public/style.css"> --}}
    <link rel="stylesheet" href="{{style}}">
</head>
<body>
    <h1>sdgrfthgyjhukiloiulyktyrethyuiljk</h1>

    <div class="container">
        <h1>Welcome to the Home Page</h1>
        <p>This is a simple example of a Handlebars template.</p>
        <a href="/views/about.hbs">about</a>
</body>
</html>