.digital h1{
    font-size: 35px;
    text-align: center;
    top: 50px;
}
.digital h2{
    font-size: 25px;
    text-align: center;
    top: 50px;
    margin-bottom: 60px;
}


body {
 text-align: center;
 font-family: Arial, sans-serif;
}
.container {

 display: flex;
 flex-wrap: wrap;
justify-content: center;
justify-items: center;
 align-items: center;
 gap: 50px;
 /* margin-top: 150px; */
}
.box {
width: 150px;
/* justify-content: center; */
 /* text-align: center;     */
 padding: 50px;
 padding-top: 20px;
 z-index: 999;
}
.box img {
 width: 100px;
 height: 100px;
 border-radius: 50%;
 object-fit: cover;
 z-index: 999;
 cursor: pointer;
}
.box img :hover {
 transform: scale(1.1);
 transition: 0.3s;
}
.box:hover {
 transform: scale(1.1);
 transition: 0.3s;
}
.title {
 font-weight: bold;
 margin-top: 25px;
}
