*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#darkmode{
    display: none;
}

#lightmode{
    display: none;
}

@media screen and (min-width:180px) and (max-width:600px) {
    #darkmode{
        display: none;
        font-size: 2.5rem;

    }
    #lightmode{
        display:block;
        font-size: 22px;        
    }
}

  


.container{

    color: rgb(77, 165, 241);
    background-color: gold;
    box-shadow: 9px 5px 14px rgb(211, 211, 31);

    
}

.menu{
    display: flex;
    list-style: none;
    justify-content: center;
    font-size: 27px;
    justify-content: space-around;
   
    padding: 23px;
    cursor: pointer;
    
}
@media screen and (min-width:180px) and (max-width:600px) {
    .container{
        color: rgb(77, 165, 241);
        background-color: white;
        width: 200px;
        height: 100vh;
        box-shadow: 9px 5px 14px rgb(180, 180, 176);

    }
    
    .menu{
        display: flex;
        flex-direction: column;
        
        list-style: none;
        justify-content: center;
        font-size: 27px;
        padding: 25px;
        cursor: pointer;

        
    }
    li{
        margin-bottom: 5px;
        border-bottom: 2px solid black;


    }
    
}



.mystyle{

    display: none;  
    
}
#power{
    display: none;

    position: absolute;
    list-style: none;

    font-size: 1.4rem;
    top: 65px;

    
}

.spn{
    font-size: 20px;
}

.course{
    display: none;
}
.bi{
    display: block;
}

@media screen and (min-width:180px) and (max-width:600px) {
    .mystyle{

        display: none;  
        
    }
    #power{
        display: none;
        
        position: relative;
        color: black;
        list-style-type: square;
        margin-left: 18px;
        font-size: 1.3rem;
        top: 18px;
        margin-bottom: 28px;
        
    
        
    }
    .course{
        display: block;
    }
    .bi{
        display: none;
    }
    
    
}
